# Ignore everything
*

# Except these folders
!src/
!src/** 
!data/processed_datasets/
!data/prompts/
!data/reward_scheme/
!.gitignore
!requirements.txt

# Ignore virtual environment
venv/

# Python cache
__pycache__/
*.pyc
